<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Flask Practice</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
</head>

<body>
  <h1>Benford's Law</h1>
  <p>Upload your data</p>
  <form method=POST enctype=multipart/form-data action="http://localhost:5000">
    <input type="file" name="file" accept=".txt"/>
    <input type="submit" />
  </form>
  <canvas id="myChart" width="auto" height="160vh"></canvas>
  ​
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9],
        datasets: [{
          label: 'Expected Distribution',
          data: [30, 17, 12, 9, 7, 6, 5, 4, 3],
          backgroundColor: [
            'rgba(54, 162, 235, 01)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)'
          ],

        },
        {
          label: 'Actual Distribution',
          data: [25, 29, 13, 9, 12, 9, 4, 2, 1],
          backgroundColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)'
          ],

        }]
      },
      options: {
        scales: {
          xAxes: [{ stacked: true }],
          yAxes: [{
            ticks: {
              beginAtZero: true
            },
            stacked: false
          }]
        }
      }
    });
  </script>
</body>

</html>